<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= f.fields_for :questions do |q| %>
    <div class="question_fields">
      <div>
        <%= q.label :question_type_id %><br>
        <%= q.collection_select :question_type_id, @question_types, :id, :name %>
      </div>
      <div class="field">
        <%= q.label :text %><br>
        <%= q.text_area :text %>
      </div>
      <div class="field">
        <%= q.label :question_description %><br>
        <%= q.text_field :description %>
      </div>
      <div class="field">
        <%= q.label :order_number %><br>
        <%= q.number_field :order_number %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
