
<div class="question_fields">
    <%= q.hidden_field :question_type_id, :value => 2 %>
    <%= q.check_box :required %>
  <div class="field">
    <%= q.label :text %><br>
    <%= q.text_area :text %>
  </div>
  <div class="field">
    <%= q.label :question_description %><br>
    <%= q.text_field :description %>
  </div>
  <div class="field">
    <%= q.label :order_number %><br>
    <%= q.number_field :order_number %>
    <p>
      <%= q.check_box :_destroy %>
      <%= q.label :_destroy, "delete question" %>
    </p>
  </div>
</div>
