
<div class="question_fields">
  <%= q.collection_select :question_type_id, QuestionType.all, :id, :name %>

  <div class="short-answer">
    <%= q.hidden_field :order_number, :value => 0 %>
    <div class="field">
      <%= q.label :short_answer_question %><br>
      <%= q.text_field :text %>
    </div>
    <div class="field">
      <%= q.label :short_answer_description %><br>
      <%= q.text_field :description %>
    </div>
    <% if current_page?("/surveys/#{params[:id]}/edit") %>
      <div>
        <%= q.check_box :_destroy %>
        <%= q.label :_destroy, "delete question" %><br>
        <%= q.check_box :required %>
        <%= q.label :required, "require" %>
      </div>
    <% end %>
  </div>

  <!-- <div class="long-answer">
    <%= q.hidden_field :order_number, :value => 0 %>
    <div class="field">
      <%= q.label :long_answer_question %><br>
      <%= q.text_area :text %>
    </div>
    <div class="field">
      <%= q.label :long_answer_description %><br>
      <%= q.text_field :description %>
    </div>
    <% if current_page?("/surveys/#{params[:id]}/edit") %>
      <div>
        <%= q.check_box :_destroy %>
        <%= q.label :_destroy, "delete question" %><br>
        <%= q.check_box :required %>
        <%= q.label :required, "require" %>
      </div>
    <% end %>
  </div> -->

  <!-- <div class="yes-no">
    <%= q.hidden_field :order_number, :value => 0 %>
    <div class="field">
      <%= q.label :yes_no_question %><br>
      <%= q.text_field :text %>
    </div>
    <div class="field">
      <%= q.label :yes_no_description %><br>
      <%= q.text_field :description %>
    </div>
    <%= q.fields_for :options do |o| %>
      <div class="field">
        <%= o.hidden_field :order_number, :value => 0 %>
        <%= o.label :option %><br>
        <%= o.text_field :name %>
      </div>
    <% end %>
    <% if current_page?("/surveys/#{params[:id]}/edit") %>
      <div>
        <%= q.check_box :_destroy %>
        <%= q.label :_destroy, "delete question" %><br>
        <%= q.check_box :required %>
        <%= q.label :required, "require" %>
      </div>
    <% end %>
  </div> -->

  <!-- <div class="multiple-choice">
    <%= q.hidden_field :order_number, :value => 0 %>

    <div class="field">
      <%= q.label :multiple_choice_question %><br>
      <%= q.text_field :text %>
    </div>
    <div class="field">
      <%= q.label :multiple_choice_description %><br>
      <%= q.text_field :description %>
    </div>
    <%= q.fields_for :options do |o| %>
      <div class="field">
        <%= o.hidden_field :order_number, :value => 0 %>
        <%= o.label :option %><br>
        <%= o.text_field :name %>
      </div>
    <% end %>
    <% if current_page?("/surveys/#{params[:id]}/edit") %>
      <div>
        <%= q.check_box :_destroy %>
        <%= q.label :_destroy, "delete question" %><br>
        <%= q.check_box :required %>
        <%= q.label :required, "require" %>
      </div>
    <% end %>
  </div> -->

</div>
