

<%= f.fields_for :questions do |q| %>
  <div class="question_fields">
      <%= q.hidden_field :question_type_id, :value => 2 %>
    <div class="field">
      <%= q.label :text %><br>
      <%= q.text_area :text %>
    </div>
    <div class="field">
      <%= q.label :question_description %><br>
      <%= q.text_field :description %>
    </div>
    <div class="field">
      <%= q.label :order_number %><br>
      <%= q.number_field :order_number %>
    </div>
  </div>
<% end %>
