<div class="question_fields">
  <%= q.hidden_field :question_type_id, :value => 1 %>
  <%= q.check_box :required %>
<div class="field">
  <%= q.label :text %><br>
  <%= q.text_field :text %>
</div>
<div class="field">
  <%= q.label :question_description %><br>
  <%= q.text_field :description %>
</div>
<div class="field">
  <%= q.label :order_number %><br>
  <%= q.number_field :order_number %>
</div>
<div class="field">
  <%= o.label :name %><br>
  <%= o.text_field :name %>
</div>
<div class="field">
  <%= o.label :order_number %><br>
  <%= o.number_field :order_number %>
</div>
