<%= form_for(@answer) do |f| %>
  <% @survey.questions.each do |q|%>
    <%= q.text %><br>
    <%= q.description %>
    <div class="field">
      <%= f.text_field :text %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit Survey' %>
  </div>
<% end %>
