<%= form_tag surveys_thank_you_path(@survey) do  %>
  <% @survey.questions.each do |q|%>
    <%= q.text %><br>
    <%= q.description %>
    <div class="field">
      <%= text_field_tag "answer_for_question[#{q.id}]" %>
    </div>
  <% end %>
  <div class="actions">
    <%= submit_tag 'Submit Survey' %>
  </div>
<% end %>
